<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <link rel="stylesheet" href="dist/style.css">
  <style>
    section.hero {
      background: url('imgs/single-post-img3-1200x790.jpg');
      background-size: cover;
      background-position: center;
    }
  </style>
  <title>Food</title>
</head>
<body>

  <div id="app">
  
    <!-- HEADER -->
    <header>

      <section class="logo">
        <div class="container flex">
          <span>Download App</span>
          <img src="imgs/avada-food-logo.png" alt="logo" />
          <div class="social">
            <a :href="element.href" v-for="element in socialIcons">
              <i class="fab" :class="element.icon"></i>
            </a>
          </div>
        </div>
      </section>

      <nav>
        <ul class="links flex">
          <li v-for="element in navLinks">
            <a :href="element.href" v-if="element.href">{{element.text}}</a>
            <i class="fas" :class="element.icon" v-else></i>
          </li>
        </ul>
      </nav>

      <section class="hero">
        <div class="day-choice">
          <h1>Food Corner: Top Japanese Restaurants for Sushi</h1>
          <span>March 25, 2019</span>
          <a class="btn" href="#">TODAY'S PICK</a>
        </div>
      </section>

    </header>
    <!-- /HEADER -->

    <!-- MAIN -->
    <main>

      <!-- FOODIE JOURNAL -->
      <div class="container relative">

        <section class="journal">
          <h4>FOODIE JOURNAL</h4>
          <div class="row clearfix">
            <div class="col-4">
              <div class="content">
                <img src="imgs/single-post-img3-400x263.jpg" alt="food" />
                <div class="article">
                  <h4>Food Corner: Top Japanese Restaurants for Sushi</h4>
                  <span>By Lorem Ipsum</span>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="content">
                <img src="imgs/fi-roundup-400x263.jpg" alt="food" />
                <div class="article">
                  <h4>Food Corner: Top Japanese Restaurants for Sushi</h4>
                  <span>By Lorem Ipsum</span>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="content">
                <img src="imgs/fi-toasts-400x263.jpg" alt="food" />
                <div class="article">
                  <h4>Food Corner: Top Japanese Restaurants for Sushi</h4>
                  <span>By Lorem Ipsum</span>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
      <!-- /FOODIE JOURNAL -->

      <!-- RECIPES -->
      <section class="recipes">
        <div class="container">
          <div class="title text-center">
            <h5>POPULAR RECIPES</h5>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nulla, perferendis voluptas quod quis iusto.</span>
          </div>
          <div class="row flex">
            <div class="col-6">
              <div class="content">
                <img src="imgs/Yogurt-Nan-600x395.jpg" alt="Yogurt-Nan" />
                <div class="article">
                  <h4>Lunch Favourite with Salad, Naan And Beans</h4>
                  <span>By Lorem Ipsum</span>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis debitis eveniet facilis explicabo, minima suscipit, at ab voluptates facere sapiente repellendus officiis molestias vel optio, veniam iste eos tenetur modi? Totam debitis enim eius optio, exercitationem quas minima voluptas quam id aspernatur vitae in numquam illum non molestiae minus animi.</p>
                  <a class="btn" href="#">LEARN MORE</a>
                </div>
              </div>
            </div>
            <div class="col-6 flex">
              <div class="col-6">
                <img src="imgs/Mixed-fruits-400x263.jpg" alt="Mixed-fruits" />
              </div>
              <div class="col-6">
                <img src="imgs/r-rachel-park-366508-unsplash-min-400x263.jpg" alt="r-rachel-park" />
              </div>
              <div class="col-6">
                <img src="imgs/r-michelle-tsang-500721-unsplash-min-400x263.jpg" alt="r-michelle-tsang" />
              </div>
              <div class="col-6">
                <img src="imgs/quick-summer-drink-460x295.jpg" alt="quick-summer-drink" />
              </div>
              <div class="col-6">
                <img src="imgs/r-maarten-van-den-heuvel-400626-unsplash-min-460x295.jpg" alt="r-maarten-van-den-heuvel" />
              </div>
              <div class="col-6">
                <img src="imgs/perfect-cosmopolitan-460x295.jpg" alt="perfect-cosmopolitan" />
              </div>
              <div class="col-6">
                <img src="imgs/fi2x-6-460x295.jpg" alt="food" />
              </div>
              <div class="col-6">
                <img src="imgs/r-brooke-lark-96398-unsplash-min-460x295.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /RECIPES -->
      
      <!-- COLLECTION-->
      <section class="collection">
        <div class="container">
          <div class="title text-center">
            <h5>CULINARY COLLECTION</h5>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nulla, perferendis voluptas quod quis iusto.</span>
          </div>
          <div class="row flex">
            <div class="col-3">
              <div class="content">
                <img src="imgs/drinks-recipes.png" alt="drinks" />
                <span>DRINKS</span>
              </div>
            </div>
            <div class="col-3">
              <div class="content">
                <img src="imgs/soups-recipes.png" alt="soups" />
                <span>SOUPS</span>
              </div>
            </div>
            <div class="col-3">
              <div class="content">
                <img src="imgs/baking-recipes.png" alt="baking" />
                <span>BAKERY</span>
              </div>
            </div>
            <div class="col-3">
              <div class="content">
                <img src="imgs/dinner-recipes.png" alt="dinner" />
                <span>DINNER</span>
              </div>
            </div>
            <div class="col-3">
              <div class="content">
                <img src="imgs/healthy-recipes.png" alt="healthy" />
                <span>HEALTHY</span>
              </div>
            </div>
            <div class="col-3">
              <div class="content">
                <img src="imgs/staff-picks.png" alt="staff-picks" />
                <span>STAFF PICKS</span>
              </div>
            </div>
            <div class="col-3">
              <div class="content">
                <img src="imgs/premium-recipes.png" alt="appetisers" />
                <span>APPETISERS</span>
              </div>
            </div>
            <div class="col-3">
              <div class="content">
                <img src="imgs/quick-easy-recipes.png" alt="quick-easy" />
                <span>QUICK & EASY</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /COLLECTION-->

    </main>
    <!-- /MAIN -->

    
    <!-- FOOTER -->
    <footer>

      <div class="footer-imgs flex">
        <div class="col-3">
          <img src="imgs/Yogurt-Nan-400x263.jpg" alt="Yogurt-Nan" />
        </div>
        <div class="col-3">
          <img src="imgs/Mixed-fruits-400x263.jpg" alt="Mixed-fruits" />
        </div>
        <div class="col-3">
          <img src="imgs/r-rachel-park-366508-unsplash-min-400x263.jpg" alt="r-rachel-park" />
        </div>
        <div class="col-3">
          <img src="imgs/r-michelle-tsang-500721-unsplash-min-400x263.jpg" alt="r-michelle-tsang" />
        </div>
      </div>

      <div class="container">
        <div class="row clearfix">

          <div class="footer-logo">
            <ul>
              <li>
                <img src="imgs/avada-food-logo-mob-2x-200x87.png" alt="logo" />
              </li>
              <li>
                <div class="social">
                  <a :href="element.href" v-for="element in socialIcons">
                    <i class="fab" :class="element.icon"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>

          <div>
            <ul class="links">
              <li v-for="element in footerLinks">
                <a :href="element.href">{{element.text}}</a>
              </li>
            </ul>
          </div>

          <div class="contact">
            <h5>CONTACT</h5>
            <ul>
              <li class="flex">
                <i class="fas fa-map-marker-alt"></i>
                <span>775 New York Ave, Brooklyn, Kings, New York 11203</span>
              </li>
              <li class="flex">
                <i class="fas fa-phone"></i>
                <span>+0100-505-0000</span>
              </li>
              <li class="flex">
                <i class="fas fa-envelope"></i>
                <span>info@your-domain.com</span>
              </li>
            </ul>
          </div>

          <div>
            <h5>GET UP OUR APP!</h5>
            <ul>
              <li>
                <a href="#"><img src="imgs/download-android-200x66.png" alt="download-android" /></a>
              </li>
              <li>
                <a href="#"><img src="imgs/download-app-store-200x66.png" alt="download-app-store"></a>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </footer>
    <!-- /FOOTER -->

  </div>

  <script src="scripts/app.js"></script>

</body>
</html>