/*MAIN-JOURNAL*/
main {

  > .container.relative {
    position: relative;
    padding-bottom: ($spacing * 40);
  }
  
  section.journal {
    position: absolute;
    top: -($spacing * 5);
    background-color: white;
    padding: 0 ($spacing + 5px);
    text-align: center;
  
    > h4 {
      padding: ($spacing * 2);
    }
  
    .col-4 {
      float: left;
    }
  }
}
